@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 15px;
    height: 100%;
}

.container {
    width: 1200px;
    height: 1280px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background-color: hsl(212, 45%, 89%);
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.43);
}

section {
    width: 240px;
    max-width: 100%;
    height: 380px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    border-radius: 4mm;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 60%;
    margin: 0 auto;
    border-radius: 2mm;
}

#improve {
    font-family: Outfit;
    font-weight: 700;
    font-size: 120%;
    padding: 10px;
    color: hsl(218, 44%, 22%);
}

#scan {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 80%;
    padding: 0 10px 0 10px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 320px) {
    section {
        top: 10%;
    }
}